<div class="card mb-3 bg-dark text-white">
  <div class="card-header">Clientes</div>
  <div class="card-body">
    <h5 class="card-title">Listado de clientes</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear cliente</button>
    </div>
    <div *ngIf="clientes?.length == 0" class="alert alert-info">
      No hay registros en la tabla.
    </div>
    <table class="table table-bordered text-white" *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>APELLIDO</th>
          <th>EMAIL</th>
          <th>FECHA</th>
          <th>EDITAR</th>
          <th>ELIMINAR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>
            <img
              (click)="abrirModal(cliente)"
              *ngIf="cliente?.foto"
              src="http://localhost:8080/api/uploads/img/{{ cliente.foto }}"
              alt="{{ cliente.foto }}"
              class="img-thumbnail rounded"
              style="width: 64px; cursor: pointer;"
            />

            <img
              (click)="abrirModal(cliente)"
              *ngIf="!cliente?.foto"
              src="http://localhost:8080/images/noUsuario.png"
              alt="Sin foto"
              class="img-thumbnail rounded"
              style="width: 64px; cursor: pointer;"/>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.createAt}}</td>
          <td>
            <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary">Editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)='delete(cliente)' class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginador" [paginador] = "paginador"></paginator-nav>
  </div>
</div>
<detalle-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></detalle-cliente>
